<template name="analyses">
<div class="data-set">
<div class="right-column">
</div>
<div class="left-column">
   <h1>Analyses Browser</h1>
   <br/>
   <div class="row">
       <div class="col-md-12">
           <form role="form" class="form-inline">
               <div class="form-group">
                   <label>Model</label>
                   <select class="form-control" id="model" name="model">
                       {{#each models}}
                           <option value="{{_id}}">{{name}}</option>
                       {{/each}}
                   </select>
               </div>
               <div class="form-group">
                   <label>Experiment</label>
                   <select class="form-control">
                       {{#each experiments}}
                           <option value="{{_id}}">{{name}}</option>
                       {{/each}}
                   </select>
               </div>
           </form>
       </div><!--/col-->
   </div><!--/row-->
</div><!--left-column-->
</div><!--text-content-->
</template>