<template name="analyses">
<div class="data-set">
<div class="right-column">
</div>
<div class="left-column">
   <h1>Analyses Browser</h1>
   <br/>
   <div class="row">
       <div class="col-md-12">
           <form role="form" class="form-inline">
               <div class="form-group" draggable="true" id="form-group-1" data-key="1" >
                       <label>{{currentType 1}}</label>
                       <select class="form-control" id="1" name="1" onfocus="this.selectedIndex = -1;">
                           {{#each selectOptions 1}}
                               <option value="{{_id}}">{{name}}</option>
                           {{/each}}
                       </select>
               </div>
               <div class="form-group" draggable="true" id="form-group-2" data-key="2">
                       <label>{{currentType 2}}</label>
                       <select class="form-control" id="2" name="2" onfocus="this.selectedIndex = -1;">
                           {{#each selectOptions 2}}
                               <option value="{{_id}}">{{name}}</option>
                           {{/each}}
                       </select>
               </div>
               <div class="form-group" draggable="true" id="form-group-3" data-key="3">
                       <label>{{currentType 3}}</label>
                       <select class="form-control" id="3" name="3" onfocus="this.selectedIndex = -1;">
                           {{#each selectOptions 3}}
                               <option value="{{_id}}">{{name}}</option>
                           {{/each}}
                       </select>
               </div>
               <div class="form-group" draggable="true" id="form-group-4" data-key="4">
                       <label>{{currentType 4}}</label>
                       <select class="form-control" id="4" name="4" onfocus="this.selectedIndex = -1;">
                           {{#each selectOptions 4}}
                               <option value="{{_id}}">{{name}}</option>
                           {{/each}}
                       </select>
               </div>
           </form>
       </div><!--/col-->
       {{#if image}}
       <div class="col-md-6">
           <br/>
           <div class="panel panel-default">
                <div class="panel-heading">{{image.type}}</div>
                <div class="panel-body">
                    <a href="/file/{{image.key}}/{{encode image.mimetype}}" target="_blank"><img class="img-responsive" src="/file/{{image.key}}/{{encode image.mimetype}}" title="{{image.type}}"></img></a>
                </div> 
            </div>
       </div>
       {{/if}}
   </div><!--/row-->
</div><!--left-column-->
</div><!--text-content-->
</template>