<template name="analysis">
<div class="data-set">
<div class="right-column">
</div>
<div class="left-column">
   <h3>Analysis of model output: {{analysis.modelOutput}}</h3>
   <br/>
   <div class="row">
   {{#each analysis.results}}
       <div class="col-md-2">
       <div class="panel panel-default">
            <div class="panel-heading">{{type}}</div>
            <div class="panel-body">
                {{#if error}}
                    <p>{{error}}</p>
                {{else}}
                <a href="/file/{{key}}/{{encode mimetype}}/display/{{currentUser._id}}" target="_blank"><img class="img-responsive" src="/file/{{key}}/{{encode mimetype}}/display/{{currentUser._id}}" title="{{image.type}}"></a>
                {{/if}}
            </div>
        </div>
        </div><!--/col-->
   {{/each}}
   </div><!--/row-->
</div><!--left-column-->
</div><!--text-content-->
</template>
