<template name="home">
  <div class="text-content">
    <h3>PALS</h3>
    <h3>Protocol for the Analysis of Land Surface models</h3>
    <h3>
      Welcome to PALS
    </h3>

    <p>
    The Protocol for the Analysis of Land Surface models is a web application for evaluating
    and benchmarking land surface models. It provides standards for model input/output formatting,
    driving data for modelling experiments, as well as a wide range of automated diagnostic
    performance measures once model output is uploaded. <a>More about PALS features.</a>
    </p>
    <p>
    PALS is supported by a range of funding and research coordination bodies, including the
    <a href="http://www.tern.org.au" target="_blank">Terrestrial Ecosystem Research Network (TERN)</a>, the
    <a href="http://www.arc.gov.au/arc-centre-excellence-climate-system-science" target="_blank">ARC Centre of Excellence for
    Climate System Science</a>, the <a  href="http://www.gewex.org" target="_blank">GEWEX Global Land Atmosphere System Study panel</a>, the
    <a href="http://ozewex.org/" target="_blank">Australian Energy and Water Exchange initiative</a>.
    <a><strong>More about PALS collaborators.</strong></a>
    </p>
    <p>
    PALS is collaboratively developed and maintained by many researchers. While we
    endeavour to maintain PALS at the highest standards, authors and contributors take no
    responsibility whatsoever for damages of any kind resulting from the use of the PALS site.
    </p>
    <p>
    <a onclick="Router.go('/term-of-use')"><strong>PALS terms and conditions</strong></a>
    </p>
    <p>
    All of the software behind PALS is open source. Contact <a href='mailto:palshelp@gmail.com'>palshelp@gmail.com</a> for more
    information.
    </p>

    <br><br><br>
    <footer>
      <table class="table table-hover">
        <tr>
          <td valign="bottom"><a href="http://www.arc.gov.au" target="_blank"><img class="img" src="/logo/arc_logo.jpg/image%2Fjpg" height="100"></a></td>
          <td valign="bottom"><a href="http://www.gewex.org" target="_blank"><img class="img" src="/logo/gewex_logo.jpg/image%2Fjpg" height="70"></a></td>
          <td valign="bottom"><a href="http://www.arc.gov.au/arc-centre-excellence-climate-system-science" target="_blank"><img class="img" src="/logo/coe_logo.jpeg/image%2Fjpeg" height="70"></a></td>
          <td valign="bottom"><a href="http://www.ozewex.org" target="_blank"><img class="img" src="/logo/ozewex_logo.jpg/image%2Fjpg" height="70"></a></td>
          <td valign="bottom"><a href="http://nci.org.au" target="_blank"><img class="img" src="/logo/nci_logo.jpg/image%2Fjpg" height="50"></a></td>
          <td valign="bottom"><a href="http://www.tern.org.au" target="_blank"><img class="img" src="/logo/tern_logo.png/image%2Fpng" height="100"></a></td>
        </tr>
      </table>
    </footer>
  </div>
</template>
