<template name="home">
<div class="text-content">
<h3>Welcome to PALS</h3>
<p>
The Protocol for the Analysis of Land Surface models is a web application for evaluating and benchmarking land surface models. It provides standards for model input/output formatting, driving data for modelling experiments, as well as a wide range of automated diagnostic performance measures once model output is uploaded. More about PALS features.
</p>
<p>
PALS is supported by a range of funding and research coordination bodies, including the Terrestrial Ecosystem Research Network (TERN), the ARC Centre of Excellence for Climate System Science,
the GEWEX Global Land Atmosphere System Study panel, the Australian Energy and Water Exchange initiative. More about PALS collaborators.
</p>
<p>
PALS is collaboratively developed and maintained by many researchers. While we endeavour to maintain PALS at the highest standards, authors and contributors take no responsibility whatsoever for damages of any kind resulting from the use of the PALS site. PALS terms and conditions.
</p>
<p>
All of the software behind PALS is open source. Contact <a href="mailto:palshelp@gmail.com">palshelp@gmail.com</a> for more information.
</p>
</div>
<br/>
<br/>
<div class="row">
<div class="col-md-2">
    <img src="/logo1.jpg" class="img-responsive" />
</div>
<div class="col-md-2">
    <img src="/logo2.jpg" class="img-responsive" />
</div>
<div class="col-md-2">
    <img src="/logo3.png" class="img-responsive" />
</div>
<div class="col-md-2">
    <img src="/logo4.jpg" class="img-responsive" />
</div>
<div class="col-md-2">
    <img src="/logo5.jpg" class="img-responsive" />
</div>
<div class="col-md-2">
    <img src="/logo6.png" class="img-responsive" />
</div>
</div>
</template>