<template name="modelOutput">
  <div class="row">
    <div class="col-md-8">
      {{#if areEqual screenMode 'display'}}
        <form role="form">
          <h1>Model Output: {{name}}</h1>
          <div class="form-group">
              <label>Name</label>
              <div class="display">{{name}}</div>
          </div>
          <div class="form-group">
             <label>Experiment</label>
             <div class="display">{{experimentName}}</div>
         </div>
         <div class="form-group">
             <label>Model</label>
             <div class="display">{{modelName}}</div>
         </div>
         <div class="form-group">
             <label>State Selection</label>
             <div class="display">{{stateSelection}}</div>
         </div>
         <div class="form-group">
             <label>Parameter Selection</label>
             <div class="display">{{parameterSelection}}</div>
         </div>
         <div class="form-group">
             <label>Comments</label>
             <div class="display">{{{breaklines comments}}}</div>
         </div>
         {{#if analyses}}
         <br/>
         <h3>Analyses</h3>
         <table class="table">
              <tr>
                  <th>id</th>
                  <th>MO Version</th>
                  <th>Status</th>
                  <th>Error Message</th>
                  <th>View Results</th>
                  <th>Delete</th>
              </tr>
              {{#each analyses}}
              <tr>
                  <td>{{_id}}</td>
                  <td>{{modelOutputVersion.filename}}</td>
                  <td>{{status}}</td>
                  <td>{{error}}</td>
                  <td>{{#if results}}<a href="/analysis/{{_id}}">View</a>{{/if}}</td>
                  <td><button id="{{_id}}" class="delete-analysis btn btn-danger btn-xs">Delete</button></td>
              </tr>
              {{/each}}
          </table>
          {{/if}}

        </form>

      {{else}}

        {{#autoForm collection="Experiments" id=formId doc=this type="normal" validation='blur'}}
          <fieldset>
            {{#if areEqual screenMode 'create'}}
              <h1>Create New Experiment</h1>
            {{else}} <!-- if in update mode -->
              <div class="alert-danger" align="center"><b>Warning: Currently in Draft Mode.
                <br>Experiment details won't be updated until "Save Changes" is clicked below.</b></div>
              <a class="btn btn-primary enable-update pull-right" disabled=true>Edit Experiment Details</a>
              {{#if areEqual experiment.recordType 'template'}}
                <h1>Experiment Template: {{experiment.name}}</h1>
              {{else}}
                <h1>Experiment: {{experiment.name}}</h1>
              {{/if}}
              <br>
            {{/if}}
            <div class="alert alert-danger error"></div>
            {{> afQuickField name='name'}}
            {{> afQuickField name='country' type='select' firstOption="(Select One)" options='allowed'}}
            {{> afQuickField name='vegType' type='select' firstOption="(Select One)" options='allowed'}}
            {{#if afFieldValueIs name='vegType' value='Other'}}
              {{> afQuickField name='otherVegType'}}
            {{/if}}
            {{> afQuickField name='spatialLevel' type='select' firstOption="(Select One)" options='allowed'}}
            {{> afQuickField name='timeStepSize' type='select' firstOption="(Select One)" options='allowed'}}
            {{> afQuickField name='shortDescription'}}
            {{> afQuickField name='longDescription' rows=3}}
            {{> afQuickField name='region'}}
            {{> afQuickField name='resolution' type='select' firstOption="(Select One)" options='allowed'}}
            <div class="panel panel-success">
              <div class="panel-heading">Scripts</div>
              <div class="panel-body">
              <table class="table">
                <tr>
                  <th>Filename</th>
                  <th>Delete</th>
                </tr>
                {{#each tempScripts}}
                <tr>
                  <td onclick="window.location.href='/file/{{key}}/{{encode "text/plain"}}'">{{filename}}</td>
                  <td><button class='delete-script btn btn-danger btn-xs' id='{{key}}'>Delete</button></td>
                </tr>
                {{/each}}
              </table>
              {{#if currentUser.admin}}
                 <label>Upload a new script</label>
                 <input type="file" class="file-select" name="file-select"/>
                 <div class="progress progress-striped active">
                   <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                       style="width:0%">
                   </div>
                 </div>
               {{/if}}
              </div>
            </div>
            {{#if currentUser.admin}}
              <div class="panel panel-primary">
                <div class="panel-heading">Data Sets</div>
                <div class="panel-body">
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th>Name</th>
                          <th>Remove</th>
                      </tr>
                      </thead>
                      <tbody>
                      {{#each tempDataSets}}
                      <tr>
                          <td onclick="Router.go('/dataset/display/{{_id}}')">{{name}}</td>
                          <td><button class='remove-dataset btn btn-danger btn-xs' id='{{_id}}'>Remove</button></td>
                      </tr>
                      {{/each}}
                      </tbody>
                  </table>

                  <div class="form-group">
                      <select name="addDataSet" class="form-control">
                          <option >(Select One)</option>
                          {{#each otherDataSets}}
                          <option value="{{_id}}">{{name}}</option>
                          {{/each}}
                      </select>
                  </div>

                  <button class='btn btn-default bottom-margin' id="add-data-set" {{uploadDisabled}}>Add data set</button>
                </div>
              </div>
            {{/if}}
          </fieldset>
          {{#if areEqual screenMode 'create'}}
            <div class="col-md-12">
              <button type="submit" class="create-btn btn btn-primary">Save</button>
              <button type="reset" class="create-btn btn btn-primary cancel-create">Cancel</button>
            </div>
          {{else}}
            <div class="alert-danger" align="center"><b>Warning: Currently in Draft Mode.
              <br>Experiment details won't be updated until "Save Changes" is clicked below.</b>
            </div>
            <br>
            <a class="btn btn-primary enable-update pull-right" disabled=true>Edit Experiment Details</a>
            <button type="submit" class="btn btn-primary save-update">Save Changes</button>
            <button type="reset" class="cancel-update btn btn-primary">Cancel</button>
          {{/if}}
        {{/autoForm}}

      {{/if}}
    </div>
  </div>
</template>
<!--<template name="modelOutput">
<div class="model-output">
<div class="row">
<div class="col-md-8">
<form role="form">
    <h1>Model Output: {{modelOutput.name}}</h1>
    <div class="alert alert-danger error"></div>
    <div class="form-group">
        <label>Model Output name</label>
        {{#if owner}}<input class="modifier form-control" type="text" name="name" value="{{modelOutput.name}}">
        {{else}}
        <div class="display">{{modelOutput.name}}</div>
        {{/if}}
    </div>
    <div class="form-group">
       {{#if owner}}
       <label>Experiment</label>
       <select name="experiment" class="form-control">
           {{#each experiments}}
           <option value='{{_id}}' {{selected this._id modelOutput.experiment._id}}>{{name}}</option>
           {{/each}}
       </select>
       {{else}}
       {{#if modelOutput.model}}
           <label>Experiment</label>
           <div class="display">{{modelOutput.experiment.name}}</div>
       {{/if}}
       {{/if}}
   </div>
   <div class="form-group">
       {{#if owner}}
       <label>Model</label>
       <select name="model" class="form-control">
           <option value='n/a'></option>
           {{#each models}}
           <option value='{{_id}}' {{selected this._id modelOutput.model}}>{{name}}</option>
           {{/each}}
       </select>
       {{else}}
       {{#if modelOutput.model}}
           <label>Model</label>
           <div class="display">{{modelOutput.model.name}}</div>
       {{/if}}
       {{/if}}
   </div>
   <div class="form-group">
       {{#if owner}}
       <label>State Selection</label>
       <select name="stateSelection" class="form-control">
           {{#each reference.stateSelection}}
           <option value='{{_id}}' {{selected this  modelOutput.stateSelection}}>{{this}}</option>
           {{/each}}
       </select>
       {{else}}
       {{#if modelOutput.stateSelection}}
           <label>State Selection</label>
           <div class="display">{{modelOutput.stateSelection}}</div>
       {{/if}}
       {{/if}}
   </div>
   <div class="form-group">
       {{#if owner}}
       <label>Parameter Selection</label>
       <select name="parameterSelection" class="form-control">
           {{#each reference.parameterSelection}}
           <option value='{{_id}}' {{selected this  modelOutput.parameterSelection}}>{{this}}</option>
           {{/each}}
       </select>
       {{else}}
       {{#if modelOutput.parameterSelection}}
           <label>Parameter Selection</label>
           <div class="display">{{modelOutput.parameterSelection}}</div>
       {{/if}}
       {{/if}}
   </div>
   <div class="form-group">
       {{#if owner}}
           <label>Please add any comments that would aid reproducing this simulation: </label>
           <textarea class="modifier form-control" type="text" name="comments">{{modelOutput.comments}}</textarea>
       {{else}}
           {{#if modelOutput.comments}}
               <label>Comments</label>
               <div class="display">{{{breaklines modelOutput.comments}}}</div>
           {{/if}}
       {{/if}}
   </div>
   {{#if analyses}}
   <br/>
   <h3>Analyses</h3>
   <table class="table">
        <tr>
            <th>id</th>
            <th>MO Version</th>
            <th>Status</th>
            <th>Error Message</th>
            <th>View Results</th>
            <th>Delete</th>
        </tr>
        {{#each analyses}}
        <tr>
            <td>{{_id}}</td>
            <td>{{modelOutputVersion.filename}}</td>
            <td>{{status}}</td>
            <td>{{error}}</td>
            <td>{{#if results}}<a href="/analysis/{{_id}}">View</a>{{/if}}</td>
            <td><button id="{{_id}}" class="delete-analysis btn btn-danger btn-xs">Delete</button></td>
        </tr>
        {{/each}}
    </table>
    {{/if}}

</form>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">Versions</div>
    <div class="panel-body">
    {{#if owner}}
        <label>Upload a new version</label>
        <input type="file" class="file-select" name="file-select"/>
        <div class="progress progress-striped active">
          <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
              style="width:0%">
          </div>
        </div>
    {{/if}}
    </div>
    {{#if hasVersions}}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>File</th>
            {{#if owner}}<th>delete</th>{{/if}}
            {{#if owner}}<th>Start Analysis</th>{{/if}}
        </tr>
        </thead>
        <tbody>
        {{#each modelOutput.versions}}
        <tr>
            <td onclick="window.location.href='/file/{{key}}/{{encode "application/x-ncdf"}}'">{{filename}}</td>
            {{#if owner}}<td><button class='delete-version btn btn-danger btn-xs' id='{{key}}'>delete</button></td>{{/if}}
            {{#if owner}}<td><button class='start-analysis btn btn-primary btn-xs' id='{{key}}'>start new analysis!</button></td>{{/if}}
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>
</div>
</div>
</div> <model-output>
</template>
-->
