<template name="modelOutput">
<div class="model-output">
<div class="right-column">
    <h3>Versions</h3>
    {{#if owner}}<button class='grey' id="upload-version">Upload a new version</button>{{/if}}
    {{#if hasVersions}}
    <table>
        <tr>
            <th>File</th>
            {{#if owner}}<th>delete</th>{{/if}}
            {{#if owner}}<th>Start Analysis</th>{{/if}}
        </tr>
        {{#each modelOutput.versions}}
        <tr>
            <td onclick="window.location.href='{{url}}'">{{filename}}</td>
            {{#if owner}}<td class='delete-version' id='{{key}}'>delete</td>{{/if}}
            {{#if owner}}<td class='start-analysis' id='{{key}}'>start new analysis!</td>{{/if}}
        </tr>
        {{/each}}
    </table>
    {{/if}}
</div><!--right-column-->
<div class="left-column">
    <h1>Model Output: {{modelOutput.name}}</h1>
    <div class="error"></div>
    <div class="form-item">
        <label>Model Output name</label>
        <div class="display">{{modelOutput.name}}</div>
        {{#if owner}}<input class="modifier" type="text" name="name" value="{{modelOutput.name}}"></input>{{/if}}
    </div>
    <div class="form-item">
       <label>Experiment</label>
       {{#if owner}}
       <select name="experiment">
           {{#each experiments}}
           <option value='{{_id}}' {{selected this._id modelOutput.experiment._id}}>{{name}}</option>
           {{/each}}
       </select>
       {{else}}
       <div class="display">{{modelOutput.experiment.name}}</div>
       {{/if}}
   </div>
   <div class="form-item">
       <label>State Selection</label>
       {{#if owner}}
       <select name="stateSelection">
           {{#each reference.stateSelection}}
           <option value='{{_id}}' {{selected this  modelOutput.stateSelection}}>{{this}}</option>
           {{/each}}
       </select>
       {{else}}
       <div class="display">{{modelOutput.stateSelection}}</div>
       {{/if}}
   </div>
   <div class="form-item">
       <label>Parameter Selection</label>
       {{#if owner}}
       <select name="parameterSelection">
           {{#each reference.parameterSelection}}
           <option value='{{_id}}' {{selected this  modelOutput.parameterSelection}}>{{this}}</option>
           {{/each}}
       </select>
       {{else}}
       <div class="display">{{modelOutput.parameterSelection}}</div>
       {{/if}}
   </div>
   <div class="form-item">
       <label>Please add any comments that would aid reproducing this simulation: </label>
       <div class="display">{{modelOutput.comments}}</div>
       {{#if owner}}<textarea class="modifier" type="text" name="comments">{{modelOutput.comments}}</textarea>{{/if}}
   </div>
</div><!--left-column-->
</div><!--experiment-->
</template>