<template name="modelOutput">
  <div class="detail-form">
    {{#if authorized 'modelOutput' _id}}
      {{#if areEqual screenMode 'display'}}

        <form role="form">
          {{#if authorisedToEdit 'modelOutput' _id}}
            <a class="btn btn-primary run-analysis pull-right RbtnMargin">Run Analysis</a>
            <a class="btn btn-primary enable-update pull-right">Edit Model Output Details</a>
          {{/if}}
          <h3>Model Output: {{name}}</h3>
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading">Details</div>
            <div class="panel-body">

              <div class="form-group">
                  <label>Name</label>
                  <div class="display">{{name}}</div>
              </div>
              <div class="form-group">
                <label>Experiment</label>
                <div class="display">{{experimentName}}</div>
              </div>
              <div class="form-group">
                <label>Model</label>
                <div class="display">{{modelName}}</div>
              </div>
              <div class="form-group">
                <label>State Selection</label>
                <div class="display">{{stateSelection}}</div>
              </div>
              <div class="form-group">
                <label>Parameter Selection</label>
                <div class="display">{{parameterSelection}}</div>
              </div>
              {{#if comments}}
                <div class="form-group">
                  <label>Comments</label>
                  <div class="display break-word">{{{breaklines comments}}}</div>
                </div>
              {{/if}}

            </div>
          </div>

         <!-- File panel -->
          <div class="panel panel-primary">
            <div class="panel-heading">File</div>
            <div class="panel-body">
            {{#if file}}
              <table class="table">
                <tr>
                  <th>Filename</th>
                  <th>Download</th>
                </tr>
                <tr>
                  <td>{{file.filename}}</td>
                  <td><button class='download-file btn btn-primary btn-xs' id='{{file.key}}'
                        onclick="window.location.href='/file/{{file.key}}/{{file.filename}}'">Download</button></td>
                </tr>
              </table>
            {{else}}
              <tr>No file uploaded.</tr>
            {{/if}}
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Benchmarks</div>
            <div class="panel-body">
            {{#if benchmarks}}
              <table class="table">
                <tr>
                  <th>Model Output Name</th>
                </tr>
                {{#each benchmark in benchmarks}}
                  <tr>
                    <td onclick="/modelOutput/display/{{benchmark._id}}">{{benchmark.name}}</td>
                  </tr>
                {{/each}}
              </table>
            {{else}}
              <tr>No benchmarks specified</tr>
            {{/if}}
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Analyses</div>
            <div class="panel-body">

              {{#if analyses}}
                <table class="table">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>MO Version</th>
                      <th>Status</th>
                      <th>Error Message</th>
                      <th>View Results</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each analyses}}
                      <tr>
                        <td>{{_id}}</td>
                        <td>{{modelOutputVersion.filename}}</td>
                        <td>{{status}}</td>
                        <td><div style="height:20px; word-wrap:break-word; overflow:hidden">{{error}}</div></td>
                        <td>{{#if results}}<a href="/analysis/{{_id}}">View</a>{{/if}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{else}}
                No analyses recorded
              {{/if}}

            </div>
          </div>
        </form>
        {{#if authorisedToEdit 'modelOutput' _id}}
          <a class="btn btn-primary run-analysis pull-right RbtnMargin">Run Analysis</a>
          <a class="btn btn-primary enable-update pull-right">Edit Model Output Details</a>
          <br><br>
        {{/if}}

      {{else}}  <!-- If screen mode is "create" or "update" -->
        {{#if inEditMode}}
          {{#if areEqual screenMode 'create'}}
            <div class="alert-danger" align="center"><b>Warning: Currently in Draft Mode.
              <br>Model output details and files won't be saved until "Save" is clicked below.</b></div>
          {{else}}
            <div class="alert-danger" align="center"><b>Warning: Currently in Draft Mode.
              <br>Model output details won't be updated until "Save Changes" is clicked below.</b></div>
          {{/if}}

          {{#autoForm collection="ModelOutputs" id=formId doc=this type="normal" validation='blur'}}
            <fieldset>
              <div class="alert alert-danger error"></div>
              {{#if areEqual screenMode 'create'}}
                <h3>Create New Model Output</h3>
              {{else}} <!-- if in update mode -->
                <h3>Model Output: {{name}}</h3>
                <br>
              {{/if}}
              <div class="panel panel-primary">
                <div class="panel-heading">Details</div>
                <div class="panel-body">

                  {{> afQuickField name='name'}}

                  <div class="form-group">
                     <label>Experiment</label>
                     <select name="experiment" id="experimentId" class="form-control">
                       <option value=''>(Select One)</option>
                       {{#each exp in expList}}
                         <option value='{{exp._id}}' {{selected exp._id experiment._id}}>{{exp.name}}</option>
                       {{/each}}
                     </select>
                   </div>

  <!--                {{> afArrayField name='experiments' type='select' firstOption="(Select One)" options=expOptions}} -->
                  {{> afQuickField name='model' type='select' firstOption="(Select One)" options=myModels}}
                  {{> afQuickField name='stateSelection' type='select' firstOption="(Select One)" options="allowed"}}
                  {{> afQuickField name='parameterSelection' type='select' firstOption="(Select One)" options="allowed"}}
                  {{> afQuickField name='comments' rows=2}}
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">File</div>
                <div class="panel-body">

                  {{#if tempFile}}
                    <table class="table">
                      <tr>
                        <th>Filename</th>
                        <th>Delete</th>
                      </tr>
                      <tr>
                        <td onclick="window.location.href='/file/{{tempFile.key}}/{{encode "text/plain"}}'">{{tempFile.filename}}</td>
                        <td><button class='delete-file btn btn-danger btn-xs' id='{{key}}'>Delete</button></td>
                      </tr>
                    </table>

                  {{else}}

                    <label>Upload a model output file</label>
                    {{#with currentUpload}}
                      Uploading <b>{{file.name}}</b>:
                      <span id="progress">{{progress.get}}%</span>
                    {{else}}
                      <input id="fileInput" type="file" />
                    {{/with}}

<!--                 If using meteor-autoform-file package
                    {{> afQuickField name="file"}} -->

                  {{/if}}
                </div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">Benchmarks (up to 3)</div>
                <div class="panel-body">

                  {{#if tempBenchmarks}}
                    <table class="table">
                      <tr>
                        <th>Model Output Name</th>
                        <th>Remove</th>
                      </tr>
                      {{#each benchmark in tempBenchmarks}}
                        <tr>
                          <td onclick="/modelOutput/display/{{benchmark._id}}">{{benchmark.name}}</td>
                          <td><button class='remove-benchmark btn btn-danger btn-xs' id='{{benchmark._id}}'>Remove</button></td>
                        </tr>
                      {{/each}}
                    </table>

                  {{else}}
                    <tr>No benchmarks specified</tr> <br>
                  {{/if}}

                  <div class="form-group">
                    <select name="addBenchmark" class="form-control">
                      <option selected disabled>(Select One)</option>
                      {{#each otherModelOutputs}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <button class='btn btn-default bottom-margin' id="addBenchmark">Add Benchmark</button>

                </div>
              </div>

              {{#if areEqual screenMode 'update'}}
                {{#if tempAnalyses}}
                  <h3>Analyses</h3>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>MO Version</th>
                        <th>Status</th>
                        <th>Error Message</th>
                        <th>View Results</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each tempAnalyses}}
                        <tr>
                          <td>{{_id}}</td>
                          <td>{{modelOutputVersion.filename}}</td>
                          <td>{{status}}</td>
                          <td><div style="height:20px; word-wrap:break-word; overflow:hidden">{{error}}</div></td>
                          <td>{{#if results}}<a href="/analysis/{{_id}}">View</a>{{/if}}</td>
                          <td><button id="{{_id}}" class="delete-analysis btn btn-danger btn-xs">Delete</button></td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                {{/if}}
              {{/if}}

            </fieldset>
            <div class="col-md-12">
              {{#if areEqual screenMode 'create'}}
                <div class="alert-danger" align="center"><b>Warning: Currently in Draft Mode.
                  <br>Model output details and files won't be saved until "Save" is clicked below.</b></div>
                  <button type="submit" class="create-btn btn btn-primary">Save</button>
                  <button type="reset" class="btn btn-primary cancel-create">Cancel</button>
              {{else}}
                <div class="alert-danger" align="center"><b>Warning: Currently in Draft Mode.
                  <br>Experiment details won't be updated until "Save Changes" is clicked below.</b>
                </div>
                <br>
                <button type="submit" class="btn btn-primary save-update">Save Changes</button>
                <button type="reset" class="cancel-update btn btn-primary">Cancel</button>

              {{/if}}
            </div>
          {{/autoForm}}

        {{else}}
          {{> notFound}}
        {{/if}}
      {{/if}}
    {{else}}
      {{> unauthorized}}
    {{/if}}
  </div>
</template>
