<template name="models">
<div class="text-content">
    <h3>{{pageTitle}}</h3>
    <div class="alert alert-danger error"></div>

      {{> reactiveTable class="table table-hover table-framed" collection=models fields=fields rowsPerPage=10}}
<!--    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Created</th>
            <th>URL</th>
            <th>References</th>
            <th>Comments</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {{#each models}}
        <tr>
            <td onclick="Router.go('/model/display/{{_id}}')"><div style="height:20px; word-wrap:break-word; overflow:hidden">{{name}}</div></td>
            <td onclick="Router.go('/model/display/{{_id}}')"><div style="height:20px; word-wrap:break-word; overflow:hidden">{{owner.email}}</div></td>
            <td onclick="Router.go('/model/display/{{_id}}')"><div style="height:20px; word-wrap:break-word; overflow:hidden">{{created}}</div></td>
            <td onclick="Router.go('/model/display/{{_id}}')"><div style="height:20px; width:250px; word-wrap:break-word; overflow:hidden">{{url}}</div></td>
            <td onclick="Router.go('/model/display/{{_id}}')"><div style="height:20px; width:250px; overflow:hidden">{{references}}</div></td>
            <td onclick="Router.go('/model/display/{{_id}}')"><div style="height:20px; width:250px; overflow:hidden">{{comments}}</div></td>
            {{#if authorisedToEdit 'model' _id}}<td><button class='delete btn btn-danger btn-xs' id="{{_id}}">Delete</button></td>{{/if}}
         </tr>
        {{/each}}
        </tbody>
    </table> -->

</div>
</template>
