<template name="modelOutputs">
<div class="text-content">
    <h1>Model Outputs</h1>
    <div class="alert alert-danger error"></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Experiment</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {{#each modelOutputs}}
        <tr>
            <td onclick="Router.go('/modeloutputs/{{_id}}')">{{name}}</td>
            <td onclick="Router.go('/experiments/{{experiment._id}}')">{{experiment.name}}</td>
            <td>{{owner.emails[0].address}}</td>
         </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</template>