<template name="modelOutputs">
  <div class="text-content">
    {{#if areEqual source 'mine'}}
      <h3>My Model Outputs</h3>
    {{else}}
      <h3>Model Outputs In Current Workspace</h3>
    {{/if}}
    <div class="alert alert-danger error"></div>

      {{> reactiveTable class="table table-hover table-framed" collection=modelOutputs fields=fields rowsPerPage=10}}
<!--
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Experiment</th>
            <th>Owner</th>
            {{#if areEqual source 'mine'}}<th>Delete</th>{{/if}}
        </tr>
        </thead>
        <tbody>
        {{#each modelOutputs}}
        <tr>
            <td onclick="Router.go('/modelOutput/display/{{_id}}')">{{name}}</td>
            {{#if experiments.[0]}}
              <td onclick="Router.go('/experiment/display/{{experiments.[0]}}')">{{experimentName}}</td>
            {{else}}<td></td>
            {{/if}}
            <td>{{owner}}</td>
            {{#if areEqual source 'mine'}}
              <td><button class='delete btn btn-danger btn-xs' id="{{_id}}">Delete</button></td>
            {{/if}}
         </tr>
        {{/each}}
        </tbody>
    </table>
-->

  </div>
</template>
