<template name="myModelOutputs">
<div class="text-content">
    <h1>My Model Outputs</h1>
    <div class="error"></div>
    <table>
        <tr>
            <th>Name</th>
            <th>Experiment</th>
            <th>Delete</th>
        </tr>
        {{#each modelOutputs}}
        <tr>
            <td onclick="Meteor.Router.to('/modeloutputs/{{_id}}')">{{name}}</td>
            <td onclick="Meteor.Router.to('/experiments/{{experiment._id}}')">{{experiment.name}}</td>
            <td class='delete' id="{{_id}}">Delete</td>
         </tr>
        {{/each}}
    </table>
</div>
</template>