<template name="registration">
  <h1 align="center">Welcome to the PALS System</h1>
  <div class="registration-form enabledStatus">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        {{#if atDisabled}}
        <p><b>Please wait...</b></p><br>
        {{/if}}
        <p><i><b>Important information:</b></i></p>
        <ul>
          <li><b><u>Privacy:</u></b> Once registering, your name will appear on the list of users
          of the system who can be invited by other users to join their workspaces.
          This is done to facilitate collaboration. Your email address will not be made public.
          Fields which will be made public are labeled as such.</li>
          <li><b><u>Data recovery:</u></b> If you used the previous PALS system and want to access your previous
          data on the current system, please check <b>"Recover my data from old PALS system"</b> below
          and we will endeavour to recover and import it.</li>
        </ul>
        {{> atForm}}
      </div>
    </div>
  </div>
</template>
