<template name="singleSiteHeadings">
    <th>Name</th>
    <th>Vegetation Type</th>
    <th>Country</th>
    <th>Years</th>
    <th>Time Step Size</th>
</template>
<template name="singleSiteRow">
    <td>{{name}}</td>
    <td>{{vegType}}</td>
    <td>{{country}}</td>
    <td>{{years}}</td>
    <td>{{timeStepSize}}</td>
</template>

<template name="multipleSiteHeadings">
    <th>Name</th>
    <th>Resolution</th>
    <th>Time Step Size</th>
</template>

<template name="multipleSiteRow">
    <td>{{name}}</td>
    <td>{{resolution}}</td>
    <td>{{timeStepSize}}</td>
</template>

<template name="catchmentHeadings">
    <th>Name</th>
    <th>Region</th>
    <th>Resolution</th>
    <th>Time Step Size</th>
</template>
<template name="catchmentRow">
    <td>{{name}}</td>
    <td>{{region}}</td>
    <td>{{resolution}}</td>
    <td>{{timeStepSize}}</td>
</template>

<template name="regionalHeadings">
    <th>Name</th>
    <th>Region</th>
    <th>Resolution</th>
    <th>Time Step Size</th>
</template>
<template name="regionalRow">
    <td>{{name}}</td>
    <td>{{region}}</td>
    <td>{{resolution}}</td>
    <td>{{timeStepSize}}</td>
</template>

<template name="globalHeadings">
    <th>Name</th>
    <th>Resolution</th>
    <th>Time Step Size</th>
</template>
<template name="globalRow">
    <td>{{name}}</td>
    <td>{{resolution}}</td>
    <td>{{timeStepSize}}</td>
</template>
