<template name="workspace">
  <div class="detail-form">
  <h1>Workspace: {{this.name}}</h1><br>
  <form>
    <div class="form-group">
      <input type="checkbox" class="make-public" {{checkedIfTrue isPublic}}> Make Public
    </div>
  </form>
  <!--{{#if isPublic}}
  {{else}}-->
    <div class="panel panel-primary">
      <div class="panel-heading">Shared With</div>
      <div class="panel-body">

        <div class="shared" style={{greyIfPublic}}>

          <table class="table">
              <tr>
                  <th>Name</th>
                  {{#if isOwner}}<th>invite</th>{{/if}}
              </tr>
          {{#each users}}
              <tr>
                <td>{{profile.fullname}}</td>
                {{#if isOwner}}<td>
                    <input type="checkbox" class="invite-user" id="{{_id}}" {{checkedIfTrue invited}} {{disabled}}>
                </td>{{/if}}
              </tr>
          {{/each}}
          </table>

        </div>
      </div>
    </div>
  <!--{{/if}}-->
  </div>
</template>
