<template name="workspaces">
<div class="text-content">
<h1>Workspaces</h1>
<form role="form">
    <div class="form-group" style={{greyIfLoggedOut}}>
        <h3>Create New Workspace</h3>
        <label>Workspace Name</label>
        <input class="form-control" type="text" name="workspace.name" required="true" maxlength="200" {{disabledInBrowseMode}}>
    </div>
    <button class="btn btn-default" id="add-workspace" {{disabledInBrowseMode}}>Add New Workspace</button>
</form>
<hr/>
<a href="javascript:void(0)" class="open-workspace" id="{{rootWorkspace._id}}">Public Workspace</a>

<section class="workspace-list" style={{greyIfLoggedOut}}>
<h3>My Workspaces</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Click to load</th>
        <th>Delete workspace</th>
    </tr>
    </thead>
    <tbody>
{{#each myWorkspaces}}
    <tr>
        <td class="open-workspace" id="{{_id}}">{{name}}</td>
        <td><button class="delete-workspace btn btn-danger btn-xs" id="{{_id}}">Delete</button></td>
    </tr>
{{/each}}
    </tbody>
</table>
</section>
<br>
<hr/>
<section class="workspace-list">
<h3>Workspaces Shared With Me</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Click to load</th>
    </tr>
    </thead>
    <tbody>
{{#each sharedWorkspaces}}
    <tr>
        <td class="open-workspace-shared" id="{{_id}}">{{name}}</td>
    </tr>
{{/each}}
    </tbody>
</table>
</section>

</div>
</template>
