.main {
    margin-top: 60px;
    margin-bottom: 40px;
}

.login-buttons {
    padding-top: 15px;
    margin: 0 20px;
}

.accounts-dialog {
    width: 240px;
}

.version-table {
   margin-top: 20px;
}

table.table-hover tbody tr:hover {
    cursor: pointer;
}