.main {
    margin-top: 60px;
    margin-bottom: 40px;
}

.login-buttons {
    padding-top: 15px;
    margin: 0 20px;
}

#login-name-link {
    color: #000;
}

.accounts-dialog {
    width: 240px;
}

.version-table {
   margin-top: 20px;
}

table.table-hover tbody tr:hover {
    cursor: pointer;
}

.bottom-margin {
    margin-bottom: 20px;
}

.error {
    cursor: pointer;
    display: none;
}

.delete-button {
    cursor: pointer;
    color: white;
}

.double-vertical-menu-item {
   margin: 0 !important;
   padding: 0 !important;
}

.double-vertical-menu a{
    font-size: 12px;
}

.double-vertical-menu {
    padding: 5px 15px 0 0;
}

.progress {
    margin-top: 12px;
}